/* .coin-info-desc {
  padding-bottom: 1rem;
  cursor: pointer;
}

.coin-info-heading {
  padding-top: 1rem;
}

.coin-info-desc a {
  color: var(--white);
  text-decoration: underline;
}

.coin-info-desc a:hover {
  color: var(--blue);
}

.short-desc {
  padding-bottom: 1.5rem;
} */

.coin-desc-heading {
  margin: 0px;
  font-size: 1.2rem;
}

.coin-desc-para {
  margin-bottom: 0px;
  font-size: 1rem;
  color: var(--white);
  padding: 1rem 0rem;
}

.coin-desc-para a {
  text-decoration: underline;
}

.coin-desc-para a:hover {
  color: var(--blue) !important;
}
