.flex-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 3rem;
  margin-top: 1.8rem;
}
.track-crypto-heading {
  font-weight: 700;
  margin: 1rem 0rem;
}
.track-crypto-heading,
.real-time-heading {
  font-size: 7rem;
  margin: 0;
}

.track-crypto-heading {
  color: var(--white);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--white);
}

.track-crypto-heading:hover {
  color: var(--black);
  -webkit-text-stroke-color: var(--white);
  transition: all 0.3s linear;
}

.real-time-heading {
  color: var(--blue);
  margin: 1rem 0rem;
}

.info-para {
  color: var(--grey);
  font-size: 1rem;
}

.btn-flex {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.phone-container {
  display: flex;
  width: 50%;
  position: relative;
  padding: 1.5rem;
}

.iphone {
  position: absolute;
  min-width: 300px;
  z-index: 100;
  margin-right: 3rem;
  width: 50%;
  right: 0;
}

.gradient {
  position: absolute;
  min-width: 250px;
  width: 40%;
  top: 5.5rem;
  right: 0;
  margin-right: 3rem;
}

@media screen and (max-width: 1250px) {
  .track-crypto-heading,
  .real-time-heading {
    font-size: 5rem;
    margin: 1rem 0rem;
  }
}

@media screen and (max-width: 1000px) {
  .iphone {
    min-width: 250px;
    width: 50%;
  }
  .gradient {
    min-width: 200px;
    top: 5.5rem;
  }
}

@media screen and (max-width: 990px) {
  .flex-info {
    margin-top: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
  .flex-info {
    flex-direction: column;
  }
  .phone-container {
    display: block;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 27rem;
  }
  .iphone {
    left: 15%;
  }
  .gradient {
    left: 25%;
  }
  .track-crypto-heading,
  .real-time-heading {
    font-size: 4rem;
    text-align: center;
  }
  .left-container {
    width: 100%;
  }
  .info-text {
    text-align: center;
  }
  .btn-flex {
    justify-content: center;
  }
  .left-component {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  .iphone {
    left: 6%;
  }
  .gradient {
    left: 17%;
  }
}

@media screen and (max-width: 380px) {
  .flex-info {
    padding: 0.5rem 1rem;
  }
  .iphone {
    left: 6%;
  }
  .gradient {
    left: 17%;
  }
}
